{% load static %}
   <header>
    	
        <div class="main main_header">
        	<h1>
            	<a href="{% url 'wishes' %}" class="wedding_logo">Mukesh & Trishali</a>
            </h1>
            <div style="float: right;">
                <p id="demo" style="color: #fff; font-size: 24px; padding-right: 10px;"></p>
            </div>
                <br>
                <br>
        </div>

        <div class="menu-row">
        	<div class="main">
            	<div class="container_12">
                	<div class="wrapper">
                    	<div class="grid_12">
                        	<nav>
                                {{ menu | safe }}
                                <!-- <ul class="menu">
                                    <li><a class="active" href="{% url 'index' %}">About</a></li>
                                    <li><a href="{% url 'wedding' %}">Wedding</a></li>
                                    <li><a href="{% url 'album' %}">Album</a></li>
                                    <li><a href="{% url 'family' %}">Family</a></li>
                                    <li><a href="{% url 'contacts' %}">Contacts</a></li>
                                </ul> -->
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main">
        	<div class="slider-wrapper">
                <div class="slider">
                    <ul class="items">
                        
                        <li>
                            <img src="{% static 'site/images/slider-img1.jpg' %}" alt="" />
                        </li>
                        <li>
                            <img src="{% static 'site/images/slider-img2.jpg' %}" alt="" />
                        </li>
                        <li>
                            <img src="{% static 'site/images/slider-img3.jpg' %}" alt="" />
                        </li>
                        <li>
                            <img src="{% static 'site/images/slider-img4.jpg' %}" alt="" />
                        </li>
                        <li>
                            <img src="{% static 'site/images/slider-img5.jpg' %}" alt="" />
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </header>
    <script>
// Set the date we're counting down to
var countDownDate = new Date("May 28, 2020 00:00:00").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();
    
  // Find the distance between now and the count down date
  var distance = countDownDate - now;
    
  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
  // Output the result in an element with id="demo"
  document.getElementById("demo").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";
    
  // If the count down is over, write some text 
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "";
  }
}, 1000);
</script>