{% extends 'base3.html' %}
{% load static %}
{% block content %}
<div class="container">
<h1 align="center">Post your comment</h1>
<div style="padding: 5px;">
<a href = "{% url 'album' %}"><img src="{% static 'site/images/back.png' %}" style="width: 32px;"></a>
</div>

<div id="pageloader">
   <img src="{% static 'site/images/loading_photo.gif' %}" alt="processing..." />
</div>

<form method="POST" action="." enctype="multipart/form-data" id="submit_comment">
	{% csrf_token %}
	<table class="table table-bordered table-striped">
	{{ form.as_table }}
</table>
<div style="padding-bottom: 10px;" align="center">
	<button type="submit" class="btn btn-success">Post</button>
</div>
</form>
</div>

<script type="text/javascript">
	
$(document).ready(function(){
	$("#submit_comment").on("submit", function(){
		$("#pageloader").show();
		$("#pageloader").css('display','block');
		$("#pageloader").fadeIn();
	});
});

</script>

{% endblock %}