{% extends 'base.html' %}
{% load static %}
{% load album_extras %}
{% block content %}
<body id = "page3">
    <section id="content"><div class="ic">More Website Templates @ TemplateMonster.com - January 09, 2012!</div>
        <div id="gallery">
            <div id="js">
               <h2 class="indent-bot2">Photo Album</h2>
               <div class="wrapper p4">
                   <div class="slideshow-container">
                        <div id="slideshow" class="slideshow"></div>
                    </div>
                    <div id="caption" class="caption-container"></div>
                </div>
                <div id="thumbs" class="navigation">
                    <ul class="thumbs noscript">
                        {% for album in album_dict %}
                        <li>
                            <a class="thumb" href="{% static 'site/images/' %}{{album.photo_name}}">
                                <img src="{% static 'site/images/' %}{{album.thumb_name}}" alt="" />
                            </a>
                            <div class="caption">
                                <!-- <h3>01. Photo Name</h3> -->
                                <div class="border-bot p3">
                                    <p class="indent-bot"><em class="color-2">{{album.description}}</em></p>
                                    <a class="link-1" href="/photo/{{album.pk}}/post_comment/">Add Your Comment</a>
                                </div>
                                {% for comment in album|get_related_comments %}
                                <div class="wrapper p2">
                                    <figure class="img-indent img-border1">
                                        <a href="javascript:void">
                                                    {% if comment.profile_picture == '' %}
                                        <img src="{% static 'site/images/default_profile.png' %}" alt="" style="width:72px; height: auto;">
                                                    {% else %}
                                        <img src="{{comment.profile_picture.url}}" alt="" style="width:72px; height: auto;">
                                                    {% endif %}
                                    </a></figure>
                                    <div class="extra-wrap">
                                        <h6>{{comment.name}}</h6>

                                        <!-- <time class="tdate-1" datetime="2011-10-21"><a class="link" href="#">21.10.2011</a></time> -->

                                        {{comment.comment}}
                                    </div>
                                </div>
                                {% endfor %}

                                <!-- <div class="wrapper p2">
                                    <figure class="img-indent img-border1"><a href="#"><img src="{% static 'site/images/page3-img2.jpg' %}" alt=""></a></figure>
                                    <div class="extra-wrap">
                                        <h6>William Bell</h6>
                                        <time class="tdate-1" datetime="2011-10-19"><a class="link" href="#">19.10.2011</a></time>
                                        Nemo enim ipsam volupta tem quia.
                                    </div>
                                </div> -->
                                <!-- <div class="wrapper p2">
                                    <figure class="img-indent img-border1"><a href="#"><img src="{% static 'site/images/page3-img3.jpg' %}" alt=""></a></figure>
                                    <div class="extra-wrap">
                                        <h6>Jason Segel</h6>
                                        <time class="tdate-1" datetime="2011-10-12"><a class="link" href="#">12.10.2011</a></time>
                                        Aut odit aut fugit, sed quia consequuntur magni.
                                    </div>
                                </div> -->
                            </div>
                        </li>
                        {% endfor %}
                        <!-- <li>
                            <a class="thumb" href="{% static 'site/images/gallery-img2.jpg' %}">
                                <img src="{% static 'site/images/thumb-2.jpg' %}" alt="" />
                            </a>
                            <div class="caption">
                                <h3>02. Photo Name</h3>
                                <div class="border-bot p3">
                                    <p class="indent-bot"><em class="color-2">Accusantium doloremque laudantium, totam rem aperiam, eaque ipsa. Sed ut perspiciatis unde omnis iste natus error sit voluptatem </em></p>
                                    <a class="link-1" href="#">Add Your Comment</a>
                                </div>
                                <div class="wrapper p2">
                                    <figure class="img-indent img-border1"><a href="#"><img src="{% static 'site/images/page3-img2.jpg' %}" alt=""></a></figure>
                                    <div class="extra-wrap">
                                        <h6>William Bell</h6>
                                        <time class="tdate-1" datetime="2011-10-19"><a class="link" href="#">19.10.2011</a></time>
                                        Nemo enim ipsam volupta tem quia.
                                    </div>
                                </div>
                                <div class="wrapper p2">
                                    <figure class="img-indent img-border1"><a href="#"><img src="{% static 'site/images/page3-img1.jpg' %}" alt=""></a></figure>
                                    <div class="extra-wrap">
                                        <h6>Sarah Anderson</h6>
                                        <time class="tdate-1" datetime="2011-10-21"><a class="link" href="#">21.10.2011</a></time>
                                        Quaeillo inventore veritatis architectobeatae.
                                    </div>
                                </div>
                                <div class="wrapper p2">
                                    <figure class="img-indent img-border1"><a href="#"><img src="{% static 'site/images/page3-img3.jpg' %}" alt=""></a></figure>
                                    <div class="extra-wrap">
                                        <h6>Jason Segel</h6>
                                        <time class="tdate-1" datetime="2011-10-12"><a class="link" href="#">12.10.2011</a></time>
                                        Aut odit aut fugit, sed quia consequuntur magni.
                                    </div>
                                </div>
                                <a class="link-1" href="#">View All Photos</a>
                            </div>
                        </li>
                        <li>
                            <a class="thumb" href="{% static 'site/images/gallery-img3.jpg' %}">
                                <img src="{% static 'site/images/thumb-3.jpg' %}" alt="" />
                            </a>
                            <div class="caption">
                                <h3>03. Photo Name</h3>
                                <div class="border-bot p3">
                                    <p class="indent-bot"><em class="color-2">Totam rem aperiam, eaque ipsa. Sed ut perspiciatis unde omnis iste natus error sit voluptatem </em></p>
                                    <a class="link-1" href="#">Add Your Comment</a>
                                </div>
                                <div class="wrapper p2">
                                    <figure class="img-indent img-border1"><a href="#"><img src="{% static 'site/images/page3-img3.jpg' %}" alt=""></a></figure>
                                    <div class="extra-wrap">
                                        <h6>Jason Segel</h6>
                                        <time class="tdate-1" datetime="2011-10-12"><a class="link" href="#">12.10.2011</a></time>
                                        Aut odit aut fugit, sed quia consequuntur magni.
                                    </div>
                                </div>
                                <div class="wrapper p2">
                                    <figure class="img-indent img-border1"><a href="#"><img src="{% static 'site/images/page3-img2.jpg' %}" alt=""></a></figure>
                                    <div class="extra-wrap">
                                        <h6>William Bell</h6>
                                        <time class="tdate-1" datetime="2011-10-19"><a class="link" href="#">19.10.2011</a></time>
                                        Nemo enim ipsam volupta tem quia.
                                    </div>
                                </div>
                                <div class="wrapper p2">
                                    <figure class="img-indent img-border1"><a href="#"><img src="{% static 'site/images/page3-img1.jpg' %}" alt=""></a></figure>
                                    <div class="extra-wrap">
                                        <h6>Sarah Anderson</h6>
                                        <time class="tdate-1" datetime="2011-10-21"><a class="link" href="#">21.10.2011</a></time>
                                        Quaeillo inventore veritatis architectobeatae.
                                    </div>
                                </div>
                                <a class="link-1" href="#">View All Photos</a>
                            </div>
                        </li>
                        <li>
                            <a class="thumb" href="{% static 'site/images/gallery-img4.jpg' %}">
                                <img src="{% static 'site/images/thumb-4.jpg' %}" alt="" />
                            </a>
                            <div class="caption">
                                <h3>04. Photo Name</h3>
                                <div class="border-bot p3">
                                    <p class="indent-bot"><em class="color-2">Sed ut perspiciatis unde omnis iste natus error sit voluptatem. Accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</em></p>
                                    <a class="link-1" href="#">Add Your Comment</a>
                                </div>
                                <div class="wrapper p2">
                                    <figure class="img-indent img-border1"><a href="#"><img src="{% static 'site/images/page3-img1.jpg' %}" alt=""></a></figure>
                                    <div class="extra-wrap">
                                        <h6>Sarah Anderson</h6>
                                        <time class="tdate-1" datetime="2011-10-21"><a class="link" href="#">21.10.2011</a></time>
                                        Quaeillo inventore veritatis architectobeatae.
                                    </div>
                                </div>
                                <div class="wrapper p2">
                                    <figure class="img-indent img-border1"><a href="#"><img src="{% static 'site/images/page3-img3.jpg' %}" alt=""></a></figure>
                                    <div class="extra-wrap">
                                        <h6>Jason Segel</h6>
                                        <time class="tdate-1" datetime="2011-10-12"><a class="link" href="#">12.10.2011</a></time>
                                        Aut odit aut fugit, sed quia consequuntur magni.
                                    </div>
                                </div>
                                <div class="wrapper p2">
                                    <figure class="img-indent img-border1"><a href="#"><img src="{% static 'site/images/page3-img2.jpg' %}" alt=""></a></figure>
                                    <div class="extra-wrap">
                                        <h6>William Bell</h6>
                                        <time class="tdate-1" datetime="2011-10-19"><a class="link" href="#">19.10.2011</a></time>
                                        Nemo enim ipsam volupta tem quia.
                                    </div>
                                </div>
                                <a class="link-1" href="#">View All Photos</a>
                            </div>
                        </li>
                        <li>
                            <a class="thumb" href="{% static 'site/images/gallery-img5.jpg' %}">
                                <img src="{% static 'site/images/thumb-5.jpg' %}" alt="" />
                            </a>
                            <div class="caption">
                                <h3>05. Photo Name</h3>
                                <div class="border-bot p3">
                                    <p class="indent-bot"><em class="color-2">Unde omnis iste natus error sit voluptatem. Accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</em></p>
                                    <a class="link-1" href="#">Add Your Comment</a>
                                </div>
                                <div class="wrapper p2">
                                    <figure class="img-indent img-border1"><a href="#"><img src="{% static 'site/images/page3-img1.jpg' %}" alt=""></a></figure>
                                    <div class="extra-wrap">
                                        <h6>Sarah Anderson</h6>
                                        <time class="tdate-1" datetime="2011-10-21"><a class="link" href="#">21.10.2011</a></time>
                                        Quaeillo inventore veritatis architectobeatae.
                                    </div>
                                </div>
                                <div class="wrapper p2">
                                    <figure class="img-indent img-border1"><a href="#"><img src="{% static 'site/images/page3-img2.jpg' %}" alt=""></a></figure>
                                    <div class="extra-wrap">
                                        <h6>William Bell</h6>
                                        <time class="tdate-1" datetime="2011-10-19"><a class="link" href="#">19.10.2011</a></time>
                                        Nemo enim ipsam volupta tem quia.
                                    </div>
                                </div>
                                <div class="wrapper p2">
                                    <figure class="img-indent img-border1"><a href="#"><img src="{% static 'site/images/page3-img3.jpg' %}" alt=""></a></figure>
                                    <div class="extra-wrap">
                                        <h6>Jason Segel</h6>
                                        <time class="tdate-1" datetime="2011-10-12"><a class="link" href="#">12.10.2011</a></time>
                                        Aut odit aut fugit, sed quia consequuntur magni.
                                    </div>
                                </div>
                                <a class="link-1" href="#">View All Photos</a>
                            </div>
                        </li>
                        <li class="last">
                            <a class="thumb" href="{% static 'site/images/gallery-img6.jpg' %}">
                                <img src="{% static 'site/images/thumb-6.jpg' %}" alt="" />
                            </a>
                            <div class="caption">
                                <h3>06. Photo Name</h3>
                                <div class="border-bot p3">
                                    <p class="indent-bot"><em class="color-2">Unde omnis iste natus error sit voluptatem. Accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</em></p>
                                    <a class="link-1" href="#">Add Your Comment</a>
                                </div>
                                <div class="wrapper p2">
                                    <figure class="img-indent img-border1"><a href="#"><img src="{% static 'site/images/page3-img2.jpg' %}" alt=""></a></figure>
                                    <div class="extra-wrap">
                                        <h6>William Bell</h6>
                                        <time class="tdate-1" datetime="2011-10-19"><a class="link" href="#">19.10.2011</a></time>
                                        Nemo enim ipsam volupta tem quia.
                                    </div>
                                </div>
                                <div class="wrapper p2">
                                    <figure class="img-indent img-border1"><a href="#"><img src="{% static 'site/images/page3-img3.jpg' %}" alt=""></a></figure>
                                    <div class="extra-wrap">
                                        <h6>Jason Segel</h6>
                                        <time class="tdate-1" datetime="2011-10-12"><a class="link" href="#">12.10.2011</a></time>
                                        Aut odit aut fugit, sed quia consequuntur magni.
                                    </div>
                                </div>
                                <div class="wrapper p2">
                                    <figure class="img-indent img-border1"><a href="#"><img src="{% static 'site/images/page3-img1.jpg' %}" alt=""></a></figure>
                                    <div class="extra-wrap">
                                        <h6>Sarah Anderson</h6>
                                        <time class="tdate-1" datetime="2011-10-21"><a class="link" href="#">21.10.2011</a></time>
                                        Quaeillo inventore veritatis architectobeatae.
                                    </div>
                                </div>
                                <a class="link-1" href="#">View All Photos</a>
                            </div>
                        </li> -->     
                    </ul>
                </div>
                <div id="controls"></div>
            </div>
        </div>
    </section>
    
    <script type="text/javascript">
		$(window).load(function() {	
			var gallery = $('#thumbs').galleriffic({
				delay:                     7000,
				numThumbs:                 6,
				preloadAhead:              6,
				enableTopPager:            false,
				enableBottomPager:         false,
				imageContainerSel:         '#slideshow',
				controlsContainerSel:      '#controls',
				captionContainerSel:       '#caption',
				loadingContainerSel:       '',
				renderSSControls:          false,
				renderNavControls:         true,
				playLinkText:              '',
				pauseLinkText:             '',
				prevLinkText:              'Prev',
				nextLinkText:              'Next',
				nextPageLinkText:          '',
				prevPageLinkText:          '',
				enableHistory:             false,
				autoStart:                 7000,
				syncTransitions:           true,
				defaultTransitionDuration: 900
			});
		});
	</script>
</body>
{% endblock %}