{% extends 'base.html' %}
{% load static %}
{% load album_extras %}
{% block content %}
<body id = "page3">
    <section id="content"><div class="ic">More Website Templates @ TemplateMonster.com - January 09, 2012!</div>
        <div id="gallery">
            <div id="js">
               <h2 class="indent-bot2">Photo Album</h2>
               <div class="wrapper p4">
                   <div class="slideshow-container">
                        <div id="slideshow" class="slideshow"></div>
                    </div>
                    <div id="caption" class="caption-container"></div>
                </div>
                <div id="thumbs" class="navigation">
                    <ul class="thumbs noscript">
                        {% for album in album_dict %}
                        <li>
                            <a class="thumb" href="{% static 'site/images/' %}{{album.photo_name}}">
                                <img src="{% static 'site/images/' %}{{album.thumb_name}}" alt="" />
                            </a>
                            <div class="caption">
                                <!-- <h3>01. Photo Name</h3> -->
                                <div class="border-bot p3">
                                    <p class=""><font style="font-size: 20px;"><strong>{{album.description}}</strong></font></p>
                                    <a class="link-1" href="/photo/{{album.pk}}/post_comment/"><font style="font-size: 18px;">Add Your Comment</font></a>
                                </div>
                                <div style="overflow-y:scroll; height: 510px !important;">
                                {% for comment in album|get_related_comments %}
                                <div class="wrapper p2" >
                                    <figure class="img-indent img-border1">
                                        <a href="javascript:void">
                                                    {% if comment.profile_picture == '' %}
                                        <img src="{% static 'site/images/default_profile.png' %}" alt="" style="width:80px !important; height: 80px !important; object-fit: contain !important; ">
                                                    {% else %}
                                        <img src="{{comment.profile_picture.url}}" alt="" style="width:80px !important; height: 80px !important; object-fit: contain !important;">
                                                    {% endif %}
                                    </a></figure>
                                    <div class="extra-wrap">
                                        <h6><font style="font-size: 18px;">{{comment.name}}</font></h6>

                                        <font style="font-size: 18px;">{{comment.comment}}</font>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            </div>
                        </li>
                        {% endfor %}
   
                    </ul>
                </div>
                <div id="controls"></div>
            </div>
        </div>
    </section>
    
    <script type="text/javascript">
		$(window).load(function() {	
			var gallery = $('#thumbs').galleriffic({
				delay:                     3000,
				numThumbs:                 6,
				preloadAhead:              6,
				enableTopPager:            false,
				enableBottomPager:         false,
				imageContainerSel:         '#slideshow',
				controlsContainerSel:      '#controls',
				captionContainerSel:       '#caption',
				loadingContainerSel:       '',
				renderSSControls:          false,
				renderNavControls:         true,
				playLinkText:              '',
				pauseLinkText:             '',
				prevLinkText:              'Prev',
				nextLinkText:              'Next',
				nextPageLinkText:          '',
				prevPageLinkText:          '',
				enableHistory:             false,
				autoStart:                 3000,
				syncTransitions:           true,
				defaultTransitionDuration: 900
			});
		});
	</script>
</body>
{% endblock %}