{% extends 'base2.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body id = "page4">    
    <section id="content">
        <div class="main">
        	<div class="container_12">
            	<div class="wrapper">
                	<article class="grid_8">
                    	<div class="indent-right">
                        	<h2 class="indent-bot2" style="padding-left: 60px;">Family</h2>
                            <div class="indent-bot" style="padding-left: 60px;">
                            <blockquote class="q3" style="font-size: 20px;">
                            <p style="line-height: 20px;" class="padding">
                                where Life begins and Love never ends.
                                The bond that links a family is not one of blood, but of Respect and Joy in each other's Life.
                            </p>
                            <p style="line-height: 20px;" class="padding">
                                "A family is one of nature's solubles, It dissolves in Time like Salt in Rainwater"
                                Family means no one gets left behind and forgotten.
                            </p>
                            </blockquote>
                            </div>
                            <div class="indent-bot" style="padding-left: 60px;">
                            <figure class="img-indent3 img-border1 profiling">
                                <div class="card">
                                <img src="{% static 'site/images/page1-img1.jpg' %}" alt="Mukesh Prajapati" >
                                <h3 class="profile-name">Mukesh Prajapati</h3>
                                <h5 class="title">(Husband)</h5>
                                </div>
                            </figure>

                            <figure class="img-indent3 img-border1 profiling">
                                <div class="card">
                                <img src="{% static 'site/images/wife.png' %}" alt="Trishali Prajapati" >
                                <h3 class="profile-name">Trishali Prajapati</h3>
                                <h5 class="title">(Wife)</h5>
                                </div>
                            </figure>
                        </div>
                        <div class="clearfix"></div>
                        <br/>
                        <div class="indent-bot" style="padding-left: 60px;">
                            <figure class="img-indent3 img-border1 profiling">
                                <div class="card">
                                <img src="{% static 'site/images/sister.jpg' %}" alt="Archana Prajapati" >
                                <h3 class="profile-name">Archana Prajapati</h3>
                                <h5 class="title">(Sister)</h5>
                                </div>
                            </figure>

                            <figure class="img-indent3 img-border1 profiling">
                                <div class="card">
                                <img src="{% static 'site/images/brother.jpg' %}" alt="Deepesh Prajapati" >
                                <h3 class="profile-name">Deepesh Prajapati</h3>
                                <h5 class="title">(Brother)</h5>
                                </div>
                            </figure>
                        </div>
                        <div class="clearfix"></div>
                        <br/>

                        </div>
                    </article>
                    <article class="grid_4">
                    	<div class="indent-left">
                        	<h2 class="prev-indent-bot">Testimonials</h2>
                            <div class="">
                                <a href="{% url 'add-testimonial' %}"><font style="font-size: 18px;">Click here to add something...</font></a>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div style="overflow-y:scroll; height: 580px !important;">
                            {% for testimonial in testimonials %}
                            <blockquote class="q3 p2">
                            	<div class="padding">
                                	<font style="font-size: 24px;">{{testimonial.testimonial}}</font>
                                    <strong class="text-2" style="font-size: 18px;">-{{testimonial.name}}</strong>
                                </div>
                            </blockquote>
                            {% endfor %}
                        </div>
                            <!-- <blockquote class="q3 p2">
                            	<div class="padding">
                                	Aut odit aut fugit, sed quia consene voluptatem nesciunt. At vero eos et accusamus.
                                    <strong class="text-2">Mike Pileggi</strong>
                                </div>
                            </blockquote>
                            <blockquote class="q3 p2">
                            	<div class="padding">
                                	Dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint.
                                    <strong class="text-2">Helen Smart</strong>
                                </div>
                            </blockquote>
                            <blockquote class="q3 img-indent-bot">
                            	<div class="padding">
                                	Occaecati cupiditate non provident, deserunt mollitia animi, id est laborum et dolorum fuga
                                    <strong class="text-2">Alex Smith</strong>
                                </div>
                            </blockquote> -->

                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock %}