{% extends 'base.html' %}
{% load static %}
{% block content %}
<body id="page1">
    <section id="content">
        
        <div class="main">
            <div class="container_12">
                <div class="wrapper">
                    <article class="grid_4">
                    	<div class="indent-right">
                        	<h2>From Creator</h2>
                            <!-- <p> </p> -->
                            <!-- <ul class="list-1 p2">
                            	<li><a href="#">Duis aute irure dolor in reprehenderit</a></li>
                                <li><a href="#">Voluptate velit esse cillum dolore</a></li>
                                <li><a href="#">Cusamus et iusto odio dignissimos</a></li>
                                <li><a href="#">Ducimus qui blanditiis</a></li>
                                <li><a href="#">Praesentium voluptatum deleniti atque</a></li>
                            </ul> -->
                            <p class="img-indent-bot">Hi,This is <strong>Ankit</strong> and I congratulate this <font style="color:#f00058;">super cute couple a very happy first marriage annivarsary.</font> I present this web album to both of you as a little effort to freshen up your memories of the year and I believe that both of you will get falling deeper with each other as yet another lovely year is about to start.</p>

                            <p class="img-indent-bot">I wish we could have see both of you celebrating together this lovely day but this is really unfortunate that you both are not together at the moment amid lockdown.</p>

                            <p class="img-indent-bot">I hope that next year on this lovely occasion we'll be all together for the celebration and with some real glasses to clink <font style="font-size: 20px;">🥂😃😃🥂</font>.</p>
                            <em><u>-from Ankit</u></em>

                        </div>
                    </article>
                    <article class="grid_8">
                    	<div class="indent-left">
                            <h2 class="indent-bot2">Him & Her</h2>
                            <div class="wrapper p3">
                                <figure class="img-indent">
                                    <p class="p1"><a href="#"><img class="img-border1" src="{% static 'site/images/page1-img2.jpg' %}" alt=""></a><span class="clear"></span></p>
                                    <span class="text-1">Trishali Prajapati</span>
                                </figure>
                                <div class="extra-wrap">
                                    <blockquote class="q1">
                                    	<span class="quote-marker1"></span>
                                        <div class="quote-bot">
                                            <div class="quote-top">
                                                <div class="quote">
                                                    <div class="padding">
                                                          <p>&quot;One year of joy, laughter, and love. I'm so proud to be your wife, and I couldn't imagine spending my life with anyone else.</p>
                                                        From the moment we met, I knew that you were something special. Here we are, a year after our marriage, and I'm still falling deeper in love with you with you by the day. Today's day for celebrating us, so let's make the most of it.<br><strong>Happy Anniversary!</strong>&quot;
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </blockquote>
                                </div>
                            </div>
                            <div class="wrapper img-indent-bot">
                                <figure class="img-indent-r">
                                    <p class="p1"><a href="#"><img class="img-border1" src="{% static 'site/images/page1-img1.jpg' %}" alt=""></a><span class="clear"></span></p>
                                    <div class="alignright">
                                    	<span class="text-1">Mukesh Prajapati</span>
                                    </div>
                                </figure>
                                <div class="extra-wrap">
                                    <blockquote class="q2">
                                    	<span class="quote-marker2"></span>
                                        <div class="quote-bot">
                                            <div class="quote-top">
                                                <div class="quote">
                                                    <div class="padding">

                                                        <p class="p2">&quot;May we have many more years of glasses to clink, surprises to throw, cakes to cut, gifts to give and smiles to put on each other’s faces.</p>
                                                        If time could be played over and over again in a loop, I would put the first year of our marriage in repeat mode because it has been perfect. <br><strong>Happy First Anniversary Dear!</strong>&quot;

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock %}