{% load static %}
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'site/css/grid.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'site/css/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'site/css/style.css' %}">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400italic' rel='stylesheet' type='text/css'>  
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Annie Use Your Telescope' rel='stylesheet'>
</head>
<style type="text/css">
	body{
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, #374566), color-stop(100%, #010203));
  background-image: -webkit-radial-gradient(#374566, #010203);
  background-image: -moz-radial-gradient(#374566, #010203);
  background-image: -o-radial-gradient(#374566, #010203);
  background-image: radial-gradient(#d44d4d, #010208);
	}
</style>
<a href = "/"><img src="{% static 'site/images/logo.png' %}" style="width: 100%;"></a>
<br>
<br>


	<div class="indent-left">
		<div class="wrapper">
	<span style="padding-left: 31%; ">
	<a href="{% url 'add-wish' %}"><font style="font-size: 30px;">Click me add Your wishes ...</font></a>
	</span>
		</div>
	</div>

<article class="grid_8">
                    	<div class="indent-left">

                            <div class="wrapper p3">
                                
                                <div class="extra-wrap">
                                </div>
                            </div>
                            <div class="wrapper img-indent-bot">
                               
                                <div class="extra-wrap">
                                <blockquote class="q2">
                                <div class="padding">
	                                <font color="#f5c71a" style="font-family: Annie Use Your Telescope;font-size: 17px;">
	                                	{% for wish in wishes %}
	                                	<p>
		                                	{{wish.wish}}
		                                	&nbsp;&nbsp;-<i><b>{{wish.name}}</b></i>
										</p>
										{% endfor %}

	                                	<!-- <p>
		                                	May you enjoy a happy married life, not just for years but for eternity. Stay together forever. Congratulations to both my children for the wonderful year of falling in love with each other. Happy Anniversary!
		                                	&nbsp;&nbsp;-<i><b>Mummy Ji</b></i>
										</p>
										<p>
											Sending all my love and best wishes as you celebrate this year of love and affection for one another. May you love continue to hold strong and grow with the passing of the ages. Happy Anniversary! &nbsp;&nbsp;-<i><b>Papa Ji</b></i>
										</p>
										<p>
											
											Εvery memory from the gone years reminds me the reasons why I always cοnsidered myself lucky fοr having a wοnderful person like yοu as a Βrother. Happy Αnniversary Dear Bhai & Bhabhi! &nbsp;&nbsp;-<i><b>Dr. Archana</b></i>
										</p>
										<p>
											The way you maintain your love, I like your style. Your Pair looks so cute. It is the reason behind my smile. Happy Anniversary Bhaiya & Bhabhi! &nbsp;&nbsp;-<i><b>Deepesh</b></i>
										</p> -->
	                                 </font>
                              </div>
                          	  </blockquote>
                               </div>
                            </div>
                        </div>
                    </article>