{% load static %}
<html >
<head>
  <meta charset="UTF-8">
  <title>Mukesh-Trishali</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="{% static 'site/css/tribute.css' %}">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.js"></script>
<script type="text/javascript">
  window.open = function() {};
    window.print = function() {};
      // Support hover state for mobile.
      if (false) {
    window.ontouchstart = function() {};
  }
</script>
</head>

<body style="color:#fff;">
    
    <center>

 <link href="https://fonts.googleapis.com/css?family=Wendy+One" rel="stylesheet" type="text/css">
        <div class="container">
          <a href = "/">
            <div class="balloon">
                <div><span>☺</span>
                </div>
                <div><span>A</span>
                </div>
                <div><span>N</span>
                </div>
                <div><span>N</span>
                </div>
                <div><span>I</span>
                </div>
                <div><span>V</span>
                </div>
                <div><span>E</span>
                </div>
                <div><span>R</span>
                </div>
                <div><span>S</span>
                </div>
                <div><span>A</span>
                </div>                
                <div><span>R</span>
                </div>
                <div><span>Y</span>
                </div>
            </div>
          </a>
            <section id = "content">
            <h1><img src="{% static 'site/images/logo.png' %}" height="260px"></h1>
</section>
        </div>


  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>

  </script>
  </center>
</body>
</html>